<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field" >
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="title" />
        </div>
        <div class="field" >
            <label>Image URL</label>
            <input type="text" name="blog[image]" placeholder="image url" value="https://images.unsplash.com/photo-1496080174650-637e3f22fa03?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7ca353cfcc4299e6c3d431ff862e1cf&auto=format&fit=crop&w=800&q=60"/>
        </div>
         <div class="field" >
            <label>Blog Content</label>
            <textarea name="blog[body]"></textarea>
        </div>
        
        <input class="ui violet big basic button" type="submit" />
    </form>
    
    <div class="ui ignored warning message">
        This blog is a live demo. Current image url is set to an image shown below for convenience, but feel free to use any image url you want!
        <img src="https://images.unsplash.com/photo-1496080174650-637e3f22fa03?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7ca353cfcc4299e6c3d431ff862e1cf&auto=format&fit=crop&w=800&q=60" />
        
    </div>
    
</div>

<% include ./partials/footer %>